:root {
  font-family: 'Inter', 'SF Pro Display', system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #e6eaf4;
  /* background-color: #07090f; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}
